nicegui
pydantic
pyyaml
requests
aiohttp
Pillow
opencv-python-headless<4.10
opencv-contrib-python<4.10
langdetect
pypdf
easyocr
paddleocr
paddlepaddle
ultralytics
pytesseract
keras-ocr
tensorflow
tf_keras
python-doctr[torch]
numpy<2
mmengine
mmcv==2.0.1
mmdet==3.1.0
mmocr>=1.0.0
